.conteiner {
  padding: 24px 156px;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.gallery-item {
  flex: 1 1 calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
}

.modal {
  background: rgba(46, 47, 66, 0.8);
}
